<!-- templates/registration/login.html -->
{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block content %}

<section class="vh-100 ali">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="center-div" style="max-width: 350px; align-items: center; border: 1px; border-color: blueviolet;">
                <h2>Log In</h2>
                <form method="post">
                    {% csrf_token %}

                    <!-- username input -->
                    <div class="form-outline mb-4">
                        <input name="username" type="username" id="form3Example3" class="form-control form-control-lg" placeholder="Enter a valid email address" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3 margin-top">
                        <input name="password" type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter password" />
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg" style="margin-top:20px; padding-left: 3.5rem; padding-right: 3.5rem; background-color: #2DCCD3 ; border-style: none;">Login</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>


{% endblock %}